In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("titanic.xlsx")

In [3]:
df.head(10)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708

# Question1-Information

In [4]:
df.describe

<bound method NDFrame.describe of      Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
884         0       3                     Miss. Catherine Helen Johnston
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0      male  22.0                        1                        0   7.2500
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
..      ...   ...                      ...                      ...      ...
882    male  27.0                        0                        0  13.0000
883  female  19.0                        0                        0  30.0000
884  female   7.0                        1                        2  23.4500
885    male  26.0                        0                        0  30.0000
886    male  32.0                        0                        0   7.7500

[887 rows x 8 columns]>

# Question2: Data labels & types

In [8]:
df.dtypes

Survived                     int64
Pclass                       int64
Name                        object
Sex                         object
Age                        float64
Siblings/Spouses Aboard      int64
Parents/Children Aboard      int64
Fare                       float64
dtype: object

In [11]:
df["Sex"].value_counts()

male      573
female    314
Name: Sex, dtype: int64

In [13]:
df["Age"].min(), df["Age"].max

(0.42,
 <bound method Series.max of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 882    27.0
 883    19.0
 884     7.0
 885    26.0
 886    32.0
 Name: Age, Length: 887, dtype: float64>)

# Question3:Pivot Table

In [23]:
df.pivot_table(df, index="Sex", values="Survived")

In [ ]:
df.pivot_table(df, index="Sex", values="Sex")

In [ ]:
df.pivot_table(df, index="Sex", values="Pclass")

# Question4:

In [24]:
age_category = pd.cut(df["Age"], [0,10,30,60,80])
print(age_category)

295     (0, 10]
495    (10, 30]
176    (30, 60]
198    (10, 30]
310    (10, 30]
         ...
834    (30, 60]
689    (30, 60]
398    (30, 60]
412    (30, 60]
336    (30, 60]
Name: Age, Length: 887, dtype: category
Categories (4, interval[int64]): [(0, 10] < (10, 30] < (30, 60] < (60, 80]]

# Question5(NOT COMPLETE)

In [25]:
data = df.pivot_table("Sex", aggfunc = "count")

ValueError: No group keys passed!

In [ ]:
data = df.pivot_table("Age", aggfunc = "count")

In [ ]:
data = df.pivot_table("Age"< =18, aggfunc = "count")