# Question1-Latitude & Longitude

In [75]:
import pandas as pd
import math
import sys
import datetime, time
import calendar
import numpy as np
from math import radians, sin, cos, acos

In [60]:
start_lat = radians(float(input("Starting Latitude: ")))
start_lon = radians(float(input("Ending Longitude: ")))
end_lat = radians(float(input("Starting Latitude: ")))
end_lon = radians(float(input("Ending Longitude: ")))

Starting Latitude: 20
Ending Longitude: 23
Starting Latitude: 46
Ending Longitude: 58

In [61]:
cal_dist = 6371.01 * acos(sin(start_lat)*sin(end_lat) + cos(start_lat)*cos(end_lat)*cos(start_lon - end_lon))

In [62]:
print("The Distance is %.2fkm." % cal_dist)

The Distance is 4300.07km.

# Question2 - Standard deviation

In [64]:
num = [4, 2, 5, 8, 6]
def std_dev(num):
    return np.std(num)

In [65]:
print("Std. deviation for given numbers: ", std_dev(num))

Std. deviation for given numbers:  2.0

# Question3 -Dataframe colouring

In [66]:
np.random.seed(24)

In [71]:
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df.pd.DataFrame(np.random.randn(10, 4), columns=list('BCBE'))], axis=1)

In [ ]:
print("Original array: ")
print(df)

In [ ]:
def red_colour_sch(num):
    color = 'red' if num < 0 else 'black'
    return 'color: %s' % color

In [ ]:
print("\nNegative numbers Red & Positive Numbers Black: ")

In [ ]:
df.style.appymap(red_colour_sch)

# Question4 - UFO reporting date

In [74]:
df = pd.read_csv(r'ufo_sighting.csv')

In [78]:
# df['Data_time'] = df['Date_time'].astype('datetime64[ns]')
df[['date','time']] = df['Date_time'].str.split(expand=True)
df['Date_time'] = (pd.to_datetime(df.pop('date'), format='%m/%d/%Y') + 
                  pd.to_timedelta(df.pop('time') + ':00'))

In [80]:
print("\nLatest Ufo Sighting dataset: ")
print(df.Date_time.max())

Latest Ufo Sighting dataset:
2014-05-08 18:45:00

In [81]:
print("\nOldest Ufo Sighting dataset: ")
print(df.Date_time.min())

Oldest Ufo Sighting dataset:
1906-11-11 00:00:00

In [82]:
print("\nDifference between Current date and oldest date of Ufo Sighting: ")
print((df.Date_time.max() - df.Date_time.min()).days)

Difference between Current date and oldest date of Ufo Sighting:
39260

# Question5 - Extact datetime

In [83]:
print("\nYear:")
print(df.Date_time.dt.year.head())

Year:
0    1949
1    1949
2    1955
3    1956
4    1960
Name: Date_time, dtype: int64

In [84]:
print("\nMonth:")
print(df.Date_time.dt.month.head())

Month:
0    10
1    10
2    10
3    10
4    10
Name: Date_time, dtype: int64

In [85]:
print("\nDay:")
print(df.Date_time.dt.day.head())

Day:
0    10
1    10
2    10
3    10
4    10
Name: Date_time, dtype: int64

In [86]:
print("\nHour:")
print(df.Date_time.dt.hour.head())

Hour:
0    20
1    21
2    17
3    21
4    20
Name: Date_time, dtype: int64

In [87]:
print("\nMinute:")
print(df.Date_time.dt.minute.head())

Minute:
0    30
1     0
2     0
3     0
4     0
Name: Date_time, dtype: int64

In [88]:
print("\nSecond:")
print(df.Date_time.dt.second.head())

Second:
0    0
1    0
2    0
3    0
4    0
Name: Date_time, dtype: int64

In [91]:
print("\nWeekday:")
print(df.Date_time.dt.day_name())

Weekday:
0           Monday
1           Monday
2           Monday
3        Wednesday
4           Monday
           ...
80327       Monday
80328       Monday
80329       Monday
80330       Monday
80331       Monday
Name: Date_time, Length: 80332, dtype: object

# Question6: Empty values

In [92]:
print(df.isnull().sum())

Date_time                             0
city                                  0
state/province                     5797
country                            9670
UFO_shape                          1932
length_of_encounter_seconds           0
described_duration_of_encounter       0
description                          15
date_documented                       0
latitude                              0
longitude                             0
dtype: int64